{{!< default}}

{{!-- selectr --}}
<link href="https://cdn.jsdelivr.net/gh/mobius1/selectr@latest/dist/selectr.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/mobius1/selectr@latest/dist/selectr.min.js" type="text/javascript"></script>

{{!-- loads custom web elements polyfill --}}
<script src="https://unpkg.com/@webcomponents/custom-elements"></script>

{{!-- page construction begins --}}
<div class="submission-page">
    <div class="form-container">
        <form action="/api/submission" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action">

		<p id="greeting">{{user.name.first}}'s Submission</p>

        <input id="who" class="tab-radio" type="radio" name="tabs" checked="checked">
        <input id="what" class="tab-radio" type="radio" name="tabs">
        <input id="details" class="tab-radio" type="radio" name="tabs">
        <input id="tech" class="tab-radio" type="radio" name="tabs">
        <input id="code" class="tab-radio" type="radio" name="tabs">

        <div class="progressbar-container">
            <ul class="progressbar">
                <li id="who-step"><label for="who">Who?</label></li>
                <li id="what-step"><label for="what">What?</label></li>
                <li id="details-step"><label for="details">Details</label></li>
                <li id="tech-step"><label for="tech">Tech</label></li>
                <li id="code-step"><label for="code">Code</label></li>
            </ul>
        </div>
        
        <div id="who-content">
			<label for="teamMembers" class="select-input-label">team members (if any)</label>
			<select id="teamMembers" name="teamMembers" multiple>
				{{#each users}}
					<option value="{{id}}" {{#ifTeamMember id}}selected{{/ifTeamMember}}>{{name.first}}</option>
				{{/each}}
			</select>
			<div class="input-note">Note: Each team member needs to create an account for their name to be visible here.</div>
            
            <div class="nav-buttons">
                <div></div>
                <label for="what" class="next-button"><i class="fas fa-chevron-right"></i></label>
            </div>
        </div>
        
        <div id="what-content">
            <im-text-input input-id="title" input-name="title" input-value="{{project.title}}" label="title" input-required="true"></im-text-input>
            <im-textarea-input input-id="description" input-name="description" input-value="{{project.description}}" label="description" input-required="true"></im-textarea-input>

            <div class="nav-buttons">
                <label for="who" class="back-button"><i class="fas fa-chevron-left"></i></label>
                <label for="details" class="next-button"><i class="fas fa-chevron-right"></i></label>
            </div>
        </div>

        <div id="details-content">
            <im-text-input input-id="ageRestriction" input-name="ageRestriction" input-value="{{project.ageRestriction}}" label="age restriction"></im-text-input>
            <im-textarea-input input-id="theStory" input-name="theStory" input-value="{{project.theStory}}" label="the story behind the project"></im-textarea-input>
            <im-textarea-input input-id="instructions" input-name="instructions" input-value="{{project.instructions}}" label="instructions"></im-textarea-input>
			<im-file-input input-id="screenshot" input-name="screenshot" input-accept="image/*" label="screenshot"></im-file-input>
			{{#if project.screenshot.url}}
            	<div class="file-preview-container">
					<a class="file-preview" id="screenshotPreview" href="{{project.screenshot.url}}" target="_blank">Currently uploaded file</a>
					<label class="file-remove-icon" for="screenshotDelete"><i class="fas fa-times-circle"></i></label>
				</div>
				<input type="checkbox" class="file-remove-input" name="screenshotDelete" id="screenshotDelete">
				<div class="file-remove-res" id="screenshotDeleteRes">Click submit to remove the file, or <label class="file-remove-undo" for="screenshotDelete">click here to undo</label>.</div>
			{{/if}}

            <div class="nav-buttons">
                <label for="what" class="back-button"><i class="fas fa-chevron-left"></i></label>
                <label for="tech" class="next-button"><i class="fas fa-chevron-right"></i></label>
            </div>
        </div>
        
        <div id="tech-content">
            <im-text-input input-id="techUsed" input-name="techUsed" input-value="{{project.techUsed}}" label="what tech did you use?"></im-text-input>
			<label for="devicesNeeded" class="select-input-label">device needed during showcase</label>
			<select id="devicesNeeded" name="devicesNeeded" multiple required oninvalid="showError()">
				{{#each devices}}
					<option value="{{id}}" {{#ifDeviceNeeded id}}selected{{/ifDeviceNeeded}}>{{device}}</option>
				{{/each}}
			</select>
			<div class="select-input-required">Required</div>
            
            <div class="nav-buttons">
                <label for="details" class="back-button"><i class="fas fa-chevron-left"></i></label>
                <label for="code" class="next-button"><i class="fas fa-chevron-right"></i></label>
            </div>
        </div>
        
        <div id="code-content">
			<im-file-input input-id="demoVersion" input-name="demoVersion" input-accept=".zip" label="demo version"></im-file-input>
			{{#if project.demoVersion.url}}
            	<div class="file-preview-container">
					<a class="file-preview" id="demoVersionPreview" href="{{project.demoVersion.url}}">Currently uploaded file</a>
					<label class="file-remove-icon" for="demoVersionDelete"><i class="fas fa-times-circle"></i></label>
				</div>
				<input type="checkbox" class="file-remove-input" name="demoVersionDelete" id="demoVersionDelete">
				<div class="file-remove-res" id="demoVersionDeleteRes">Click submit to remove the file, or <label class="file-remove-undo" for="demoVersionDelete">click here to undo</label>.</div>
			{{/if}}
            <im-file-input input-id="fullVersion" input-name="fullVersion" input-accept=".zip" label="full version" {{#unless project.fullVersion.url}}input-required="true"{{/unless}}></im-file-input>
			{{#if project.fullVersion.url}}
            	<div class="file-preview-container">
					<a class="file-preview" id="fullVersionPreview" href="{{project.fullVersion.url}}">Currently uploaded file</a>
				</div>
				<div>This file cannot be removed because this field is required. Try to upload a new file instead.</div>
			{{/if}}

            <div class="nav-buttons">
                <label for="tech" class="back-button"><i class="fas fa-chevron-left"></i></label>
                <div></div>
            </div>
        </div>

		<div id="error-message">Oops, something's wrong with your submission. Make sure you filled out all the required fields.</div>

		<div id="action-buttons-container">
			<button type="submit" class="action-button">Submit</button>
			<a class="action-button" href="/signout">Sign out</a>
		</form>
		</div>
    	
    </div>
</div>

{{!-- template used for custom text input tag --}}
<template id="t-im-text-input">
  <input type="text" class="text-input" placeholder=" " oninvalid="showError()">
  <label class="text-input-label"></label>
  <div class="text-input-line-animation"></div>
  <div class="text-input-required">Required</div>
</template>

{{!-- template used for custom textarea input tag --}}
<template id="t-im-textarea-input">
    <label class="textarea-input-label"></label>
    <textarea class="textarea-input" placeholder=" " oninvalid="showError()"></textarea>
    <div class="textarea-input-line-animation"></div>
    <div class="textarea-input-required">Required</div>
</template>

{{!-- template used for custom file input tag --}}
<template id="t-im-file-input">
  <label class="file-input-label"></label>
  <input type="file" class="file-input" oninvalid="showError()">
  <div class="file-input-max">Note: the maximum file size is 50MB. Attempting to upload a larger file will crash the server.</div>
  <div class="file-input-required">Required</div>
</template>

{{!-- template used for file preview --}}


{{!-- define custom web elements --}}
<script>
    class IMTextInput extends HTMLElement {
        constructor() {
            super(); //required
            
            var t = document.getElementById('t-im-text-input'); //get the template of the custom tag
            var input = t.content.querySelector('input');
            var label = t.content.querySelector('label');
            
            input.id = this.getAttribute('input-id'); //use input-id attribute to set the input's id
            input.name = this.getAttribute('input-name'); //use input-name attribute to set input's name
            input.value = this.getAttribute('input-value'); //use input-value attribute to set input's value
            input.removeAttribute('required');
            if (this.getAttribute('input-required') === "true") { //if input-require is true, set input to be required
                input.required = true;
            }
            label.setAttribute('for', this.getAttribute('input-id')); //use input-id attribute to set the label's for attribute
            label.innerText = this.getAttribute('label'); //use label attribute to set the inner text of the label tag

            var clone = document.importNode(t.content, true);
            this.appendChild(clone);
        }
    }
    window.customElements.define('im-text-input', IMTextInput);

    class IMTextareaInput extends HTMLElement {
        constructor() {
            super(); //required

            var t = document.getElementById('t-im-textarea-input');
            var input = t.content.querySelector('textarea');
            var label = t.content.querySelector('label');

            input.id = this.getAttribute('input-id');
            input.name = this.getAttribute('input-name');
            input.innerText = this.getAttribute('input-value');
            input.removeAttribute('required');
            if (this.getAttribute('input-required') === "true") {
                input.required = true;
            }
            label.setAttribute('for', this.getAttribute('input-id'));
            label.innerText = this.getAttribute('label');

            var clone = document.importNode(t.content, true);
            this.appendChild(clone);
        }
    }
    window.customElements.define('im-textarea-input', IMTextareaInput);

	class IMFileInput extends HTMLElement {
		constructor() {
			super();

			var t = document.getElementById('t-im-file-input');
			var input = t.content.querySelector('input');
			var label = t.content.querySelector('label');

			input.id = this.getAttribute('input-id');
			input.name = this.getAttribute('input-name');
			input.accept = this.getAttribute('input-accept');
			input.removeAttribute('required');
            if (this.getAttribute('input-required') === "true") {
                input.required = true;
            }
            label.setAttribute('for', this.getAttribute('input-id'));
            label.innerText = this.getAttribute('label');

            var clone = document.importNode(t.content, true);
            this.appendChild(clone);
		}
	}
	window.customElements.define('im-file-input', IMFileInput);

	new Selectr('#teamMembers', {
		multiple: true,
		searchable: true,
		allowDeselect: true,
	});

	new Selectr('#devicesNeeded', {
		multiple: true,
		searchable: true,
		allowDeselect: true,
	});

	function showError() {
		document.getElementById('error-message').style.display = "block";
	}

</script>
